html {
	scroll-behavior: smooth;
}
body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222; 
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
div {
	box-sizing: border-box;
}
header {
	background:url(../img/first-bg.jpg) no-repeat center top / cover;
	height: 100vh;
}
.container {
	width: 930px;
	margin: 0 auto;
}
.logo {
	margin-top: 41px;
	float: left;
}
nav {
	float: right;
	margin-top: 50px;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-right: 41px;
	transition: 0.5s;
}
.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 5px;
}
.menu li a:hover {
	color: #FDDB1C;
	border-bottom: 2px solid #FDDB1C;
}
.titles-first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}
h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}
.button {
	background-color: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
	transition: 1s;
}
.button:hover {
	transform:scale(1.1);
}
.title {
	padding-top: 115px;
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5;
}
.services {
	margin-top: 50px;
}
.services_item {
	width: 270px;
	float: left;
	text-align: center;

}
.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}
.services_item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}
.services_item:last-child {
	float: right;
}
.services_item:nth-child(2) {
	margin-left: 60px;
}
.services {
	padding-bottom: 120px;
}
#portfolio {
	background-color: #f7f7f7;
	padding-bottom: 120px;
}
.photos {
	margin-top: 70px;
	overflow: hidden;
}
.photos img {
	float: left;
}
.photos img:nth-child(2) {
	margin-left: 29px;
}
.photos img:last-child {
	float: right;
}
.photos img {
	opacity: 0.8;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;	
}
.photos img:hover {
	opacity: 1;
	-moz-transition: scale(1.1);
	-webkit-transition: scale(1.1);
	-o-transition: scale(1.1);
	transform: scale(1.1);
}
.about {
	padding-top: 80px;
}
.about-elem {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 80px;
}
.about-elem .image {
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.about-elem .image img {
	display: inline-block;
	vertical-align: top;
}
.about-elem .content {
	position: absolute;
	top: -15px;
}
.about-elem .text-rght {
	text-align: right;
}
.about-elem .text-lft {
	text-align: left;
}
.about-elem .content span {
	text-transform: uppercase;
}
.about-elem .content p {
	color: #777777;
	line-height: 1.55em;
}
.about-elem:nth-child(odd) .content {
	right: 50%;
	margin-right: 130px;
}
.about-elem:nth-child(even) .content {
	left: 50%;
	margin-left: 130px;
}
.about-elem .content .titless {
	text-align: right;
	font-weight: 700;
}
.about-elem .content .titless-lft {
	text-align: left;
}
#aboutUs {
	padding-bottom: 120px;
}
#copyright p {
	color: #777777;
	text-align: center;
	margin: 115px;
}

